@media screen and (max-width: 1400px) {
   #profile
   {
    height: 83vh;
    margin-bottom: 6rem;
   }
   .about-containers{
    flex-wrap: wrap;

   } 
}
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experence,
    .experence-details-container{
        margin-top: 2rem;
    }
    #profile,
    .section-container{
        display: block;
    }
    section,
    .section-container{
        height: fit-content;
    }
    section{
        margin: 0.5%;   
    }
    .section_pic_container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2 rem;

    }
    .about-containers{
        margin-top: 0;

    }
}
@media screen and (max-width: 600px){
    #contact,
    footer{
        height: 40vh;
    }
    #profile{
        height: 80vh;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
    .nav links li a{
        font-size: 1rem;
    }
    .experence-sub-title{
        font-size: 1.1rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic_container{
        width: auto;
        height: 50vh;
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
   .socials-container{
    margin-top: -10rem;
   }
   #about{
    margin-top: 15rem;
    margin-bottom: 5rem;
   }
   .about-details-container{
    margin-top: 2rem;
   }
   .text-container{
    display: none;
   }
   #experience{
    margin-top:12rem ;
   }
   .experience-details-container{
    margin-top: 1rem;
    margin-bottom: 5rem;
   }
   #project{
    margin-top: 15rem;
   }
}


@media screen and (max-width: 768px){
    #profile{
        margin-top: auto;
    }
    
    .socials_container{
        padding-top: 10px;
        padding-bottom: 30px;
        
    }
    .image{
        width: auto;
        height: auto;
    }
    #experience{
        padding-top: 60px;
    
    }
    #project{
        padding-top: 8rem;
    
    }
}

@media screen and (max-width: 567px){
    #profile{
        margin: auto;
    }
     .section_text{
        margin-top: auto;
    }
    .image{
        width: auto;
        height: auto;
    }
 
    #about,
    #experience{
        margin: 2rem;
        
    }
    #about{
        padding-top: 5rem;
        margin-bottom: 5rem;
    }
    #project{
        margin: 5rem;
    }
    .contact-info-upper-container{
        margin-top: 3rem;
    }
    .contact-info-container p{
       font-size: small;
 
   }
   .nav-links{
    font-size: medium;
   }
}
  
