@media screen and (max-width: 1400px) {
   #profile
   {
    height: 83vh;
    margin-bottom: 6rem;
   }
   .about-containers{
    flex-wrap: wrap;

   } 
   #about{
    height: auto;
   }
}
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .image{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 25vw;
        height: auto;
    }
    #experence,
    .experence-details-container{
        height: auto;
    }
    #profile,
    .section-container{
        display: block;
    }
    section,
    .section-container{
        height: fit-content;
    }
    #about{
        height: auto;
    }
    #profile{
        height: auto;
    }
    section{
        margin: 0.5%;   
    }
    .section_pic_container{
        width: auto;
        height: 25vw;
        margin: 0 auto 2 rem;

    }
    .about-containers{
        margin-top: 0;

    }
    .contact-info-container p{
        font-size: small;   
}
.contact-info-upper-container{
    display: grid;
   
}
}
@media screen and (max-width: 600px){
    #contact,
    footer{
        height: 40vh;
    }
    #profile{
        height: 90vh;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
    .nav links li a{
        font-size: 1rem;
    }
    .experence-sub-title{
        font-size: 1.1rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic_container{
        width: auto;
        height: 50vh;
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
   .socials-container{
    margin-top: -10rem;
   }
   #about{
    margin-top: 5vh;
    margin-bottom: 5rem;
    height: auto;
   }
   .about-details-container{
    margin-top: 2rem;
   }
   .text-container{
   height: auto;
   }
   #experience{
    height:90vh
   }
   .experience-details-container{
    margin-top: 1rem;
    margin-bottom: 5rem;
   }
   .contact-info-container p{
    font-size: small;

}
.nav-links{
 font-size: medium;
}


@media screen and (max-width: 768px){
    #profile{
        margin-top: auto;
    }
    
    .socials_container{
        padding-top: auto;
        padding-bottom: auto;
        
    }
    .image{
        width: auto;
        height: auto;
    }
    #experience{
        height: auto;
    
    }
    #project{
       height: auto;
    
    }
}
@media screen and (max-width: 567px){
    #profile{
        margin: auto;
        height: fit-content;
    }
    .image{
        display: flex;
        justify-content: center;
        text-align: center;
        width: auto;
        height: auto;
    }
     .section_text{
        margin-top: auto;
    }
    
    .section_pic_container{
        width: auto;
        height: 60vw;
    }
    #about,
    #experience{
        margin: 2rem;
        
    }
    #about{
        height: auto;
    }
    #experience{
        height: auto;
    }
    #project{
        margin: 1rem;
        height: fit-content;
    }
   
    .contact-info-container p{
       font-size: small;
 
   }
   .nav-links{
    font-size: medium;
   }
   #arrow{
    display: none;
   }
   .contact-icon{
    height: auto;
    width: 4vw;
}
}
  
}
@media screen and (max-width: 400px){

    .contact-info-container p{
        font-size: small;
  
    }
    .nav-links{
     font-size: small;
    }
    .contact-icon{
        height: auto;
        width: 4vw;
    }
}