body{
    height: 100%;
    overflow: hidden;
    margin: unset;
}
button{
  width: 10vw;
  height: 7vh;
  align-items: center;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color:	#228B22;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  align-items: right;
}

button:hover{
    cursor: pointer;
    background-color:  rgb(196, 28, 31);
}
#header{
    background-color: rgba(42, 41, 41, 0.821);
    color: #fefafae2;
    padding: 2px 10px;
}
#main{
    background-color: rgb(249, 227, 226);
    height: 86vh;
    justify-content: auto;
    
}
/* side bar */


.sidebar {
        width: 18vw;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    }

    .sidebar button {
        background-color: #333;
        color: white;
        width: 15vw;
        border: none;
        padding: 15px;
        margin: 10px 0;
        font-size: 1.1vw;
        text-align: left;
        border-radius: 5px;
        cursor: pointer;
        
        transition: background-color 0.3s, transform 0.2s;
    }

    .sidebar button:hover {
        background-color: #555;
        transform: translateX(5px);
    }

    .sidebar button:active {
        transform: translateX(3px) scale(1.25);
    }

    .content {
        flex: 1;
        padding: 1vw;
        overflow-y: auto;
    }
    #hero{
        margin: 2vh;
    }
    @media (max-width: 768px) {
        .sidebar {
            width: 200px;
        }
        .sidebar button {
            padding: 12px;
            font-size: 14px;
        }
    }